.top-banner-bg{
    background-color: #e6faff;
}

.services-bg{
    background-color: #ccf5ff;
}

.projects-bg{
    background-color: #e6f9ff;
}

.testimonial-bg{
    background-color: #ccf2ff;
}

.mailing-list-bg{
    background-color: #66ccff;
}